@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');

/* shared style */
* {
    font-family: 'Mulish', sans-serif;
    margin: 0 auto;
}

:root {
    --primary-color: #ED0066;
    --secondary-color: #424247;
    --text-color: #131318B2;
    --border-radius-16: 16px;
    --border-radius-08: 8px;
    --neutral-color: white;
}


/* main style */
.btn-primary {
    padding: 16px 34px;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    color: var(--neutral-color);
    font-weight: 700;
    background: var(--primary-color);
    cursor: pointer;
}

h2 {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 24px;
}

p {
    color: var(--text-color);
}


/* header style */
nav {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

nav ul a {
    text-decoration: none;
    margin-right: 50px;
    color: var(--secondary-color);
}

.nav-menu li:first-child {
    color: #ED0066;
    font-size: 18px;
    font-weight: 700;
}

nav .menubar {
    display: none;
}


/* Section-01 */
.section-01 {
    margin-top: 60px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/cover.png);
    background-repeat: no-repeat;
    width: 1170px;
    height: 500px;
    border-radius: 16px;
}

.content-01 {
    padding-top: 10%;
    text-align: center;
}

.content-01 h1 {
    color: var(--neutral-color);
    font-size: 4rem;
    font-weight: 800;
}

.content-01 p {
    margin-top: 24px;
    color: var(--neutral-color);
    text-align: center;
    max-width: 676px;
    margin-bottom: 48px;
}

.search-box {
    display: inline-flex;
    padding: 16px;
    border-radius: var(--border-radius-08);
    background: rgba(255, 255, 255, 0.30);
}

.search-box input {
    padding: 16px 34px 16px 16px;
    border-radius: var(--border-radius-08);
    border: none;
    color: rgba(19, 19, 24, 0.50);
    margin-right: 24px;
}

.find-btn {
    display: inline-flex;
    align-items: center;
}

.find-btn #find-now {
    margin-left: 8px;
}



/* Section 02 */
.section-02,
.section-06,
.section-07 {
    max-width: 1170px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid blueviolet; /* parent border  */
}

.content-02,
.content-06 {
    margin-right: 74px;
}

.content-02 p,
.content-06 p {
    margin-bottom: 24px;
}

.list-of-tours li {
    margin-bottom: 16px;
    color: var(--text-color);
}

.content-02 .btn-primary,
.content-06 .btn-primary {
    margin-top: 32px;
}

.img-content-02 img {
    margin-top: 24px;
}



/* Section 04 */
.section-04 {
    margin-top: 100px;
}

.section-04>h2,
.section-04>p {
    text-align: center;
}

.box-container {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    max-width: 1170px;
}


.card-1,
.card-2,
.card-3 {
    padding: 32px;
    max-width: 573px;
    max-height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.card-2 {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.card-3 {
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.box-container img {
    margin-bottom: 32px;
}

.box-container h4 {
    margin-bottom: 16px;
}


/* Section 06 */
.content-06 {
    margin-right: 28px;
}

.video-content-06 video {
    width: 610px;
    border-radius: 16px;
    max-height: auto;
    display: block;
}



/* Section 07 */
.content-07 {
    padding: 40px;
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius-08);
    margin-right: 24px;
}

.content-07 h4 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 16px;
}


hr {
    height: 1px;
    background-color: #1313181A;
    border: none;
    margin: 24px 0;
}

.content-07 input {
    padding: 16px 218px 16px 16px;
    border: none;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin-bottom: 16px;
}

.content-07 button {
    padding: 14px 148px;
}

/* .section-07 .batch {
    position: relative;
    bottom: 175px;
    left: 165px;
    width: 324px;
    height: 120px;
    background-color: var(--primary-color);
    border: none;
    border-radius: var(--border-radius-16);
    text-align: center;
    transform: rotate(-19.628deg);
} */

.batch p {
    color: #FFF;
    font-size: 1.5rem;
}

.batch h2 {
    color: #FFF;
    font-size: 2rem;
    font-weight: 800;
}

.img-content-07 img{
    max-width: 672px;
    max-height: 422px;
}



/* Footer */
footer {
    margin-top: 100px;
    padding: 110px 284px;
    background-color: #1313180D;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer p {
    margin-top: 16px;
    margin-bottom: 32px;
}

footer .icon-group {
    justify-content: center;
    align-items: center;
}

footer .icon-group img{
    margin-right: 32px;
}

hr {
    margin: 50px 0;
}





@media screen and (max-width: 576px) {
    header, main {
        margin: 0 20px;
    }

    h2 {
        font-size: 1.25rem;
    }

    nav #logo {
        width: 50%;
    }

    .nav-menu {
        display: none;
    }

    nav .menubar {
        display: block;
    }

    .section-01 {
        width: 100%;
        background-position: center;
        margin-top: 20px;
    }

    .content-01 h1 {
        font-size: 1.4rem;
    }

    .content-01 p {
        margin-top: 8px;
        width: 304px;
        margin-bottom: 32px;
    }

    .search-box {
        flex-direction: column;
    }

    .search-box input {
        padding: 16px 88px 16px 16px;
        border-radius: var(--border-radius-08);
        border: none;
        color: rgba(19, 19, 24, 0.50);
        margin-right: 0;
        margin-bottom: 16px;
    }

    .find-btn {
        display: inline-flex;
        align-items: center;
        width: 255px;
        height: 52px;
    }

    .find-btn #find-now {
        margin-left: -40px;
    }

    .section-02,
    .section-06, .section-07, .content-02,
    .content-06 {
        margin-top: 24px;
        flex-direction: column;
        margin-right: 0;
    }

    .content-02 .btn-primary,
    .content-06 .btn-primary {
        margin-top: 0;
    }

    .img-content-02 img {
        width: 100%;
    }

    .section-04, footer {
        margin-top: 24px;
    }

    .box-container {
        margin-top: 16px;
        grid-template-columns: repeat(1, 1fr);
    }

    .card-1,
    .card-2,
    .card-3 {
        padding: 32px;
        text-align: justify;
    }

    .video-content-06 video {
        margin-top: 24px;
        width: 335px;
        display: block;
    }

    .content-07 {
        padding: 24px;
    }

    .content-07 input {
        padding: 16px 108px 16px 16px;
        border: none;
        border-radius: 8px;
        background: rgba(19, 19, 24, 0.05);
        margin-bottom: 16px;
    }

    .content-07 button {
        padding: 14px 94px;
    }

    .img-content-07 img{
        margin-top: 16px;
        max-width: 335px;
        max-height: 300px;
    }


    footer {
        padding: 32px 44px;
    }
    
    footer p {
        margin-top: 16px;
        margin-bottom: 32px;
    }
    
    footer .icon-group img{
        margin-right: 32px;
    }
    
    hr {
        margin: 50px 0;
    }

}